#broken-wheel {
  background-image: url("pics/broken-wheel.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: -1;
  font-weight: bold;
}

#homepage-btn {
    width: 200px;
    text-align: center;
    display: block;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    margin-bottom: 20px;
    border-width: 2px;
    border-color: black;
    border: solid;
    background-color: orange;
    padding: 5px;
    text-decoration: none;}
