$break-small: 499px;
$break-large: 1000px;

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Serif', serif;
  color: black;
}

#fixed-image {
    background-image: url('pics/grinding-wheel-opacity.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}

h1 {
  font-size: 30px;
}

p {
    font-size: 20px;
}

.internal-link {
  color: black;
  font-weight: bold;
}

#grabber {
  text-align:center;
  display: table;
  height: 100vh;
  overflow: hidden;
  font-family: 'Amatic SC', cursive;
  max-width: 800px;
}

#grabber-text {
  display: table-cell;
  vertical-align: middle;
}

.section {
  min-height: 100vh;
  overflow:hidden;
}

.container {
  margin: 0px 100px;
  @media screen and (max-width: $break-small) {
    margin: 0px 5px;
  }
  @media screen and (min-width: $break-large) {
    margin: 0px auto;
    max-width: 800px;
  }
  padding: 80px 0 0 50px 0;
}

.section-header {
    /* margin-top: 80px; */
    font-size: 2.5em;
}

.dark {
    background-color: black;
    color: grey;
}

.light {
    color: black;
}

input.text {
  border: none;
  width: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  margin-bottom: 10px;
  opacity: .8;
  padding: 5px;
  border-radius: 3px;
}

textarea {
  border: none;
  width: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  margin-bottom: 10px;
  opacity: .8;
  padding: 5px;
  border-radius: 3px;
}

button#submit-btn {
  width: 100%;
  font-size: 20px;
  font-family: 'Noto Serif', serif;
  margin-bottom: 20px;
  border:none;
  border-width: 2px;
  border-color:black;
  padding: 5px;
  background-color: orange;
  color: black;
  &:hover {
      background-color: white;
  }
}

.form-container {
  font-size: 20px;
  width: 500px;
  margin: 0px auto;
}

footer {
  padding: 10px;
  font-size: 20px;
  height: 20px;
}

#bottom-section {
  min-height: -moz-calc(100vh - 40px);
  min-height: -webkit-calc(100vh - 40px);
  min-height: -o-calc(100vh - 40px);
  min-height: calc(100vh - 40px);
  overflow:hidden;
}

.top-logo {
    width: 100%;
    margin-top: 20px;
}

.pull-right {
    clear: none;
    float: right;
}

.text-center {
    text-align: center;
}

.eagle-header {
    padding: 50px;
    text-align: justify;
}

.description-image {
    clear: none;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.kiln-image {
    float: left;
    margin-right: 50px;
}

.inventory-image {
    float: right;
    margin-left: 50px;
}

.description-image-section {
    width: 100%;
    clear:both;
    margin: 50px auto;
    overflow: hidden;
}

.team-picture {
    height: 400px;
    margin: 50px auto;
    display: block;
    border-radius: 5px;
}

a {
    color: black;
}

.first-button-link {
    padding: 20px;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    margin: 50px 0px 10px 0;
    display: block;
    width: 40%;
    height: 70px;
    text-decoration: none;
    text-align: center;
    background: orange;
    float: left;
    &:hover {
	background: white;
    }
}

#learn-more {
    line-height: 70px;
    margin-left: 10px;
}

.error {
    border: solid !important;
    border-color: red !important;
}


// 404 stuff

#broken-wheel {
  background-image: url("pics/broken-wheel.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: -1;
  font-weight: bold;
}

#homepage-btn {
    width: 200px;
    text-align: center;
    display: block;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    margin-bottom: 20px;
    border-width: 2px;
    border-color: black;
    border: solid;
    background-color: orange;
    padding: 5px;
    text-decoration: none;
}
